.container {
  padding: 20px;
  max-width: 1440px;
  margin: 0 auto;
}

.lista-filmes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.lista-filmes article {
  width: 50%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
}
.lista-filmes strong {
  text-align: center;
  font-size: 20px;
  display: block;
  text-transform: capitalize;
  padding: 10px;
  width: 100%;
  border: none;
}

.lista-filmes img {
  width: 100%;
  height: 440px;
  max-height: 440px;
  object-fit: cover;
  display: block;
}

.lista-filmes article a {
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 15px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.botoes {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.botoes button {
  padding: 10px;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.botoes button svg {
  font-size: 20px;
}
