* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
Header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #111111;
}

.logo {
  color: #e60914;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
}

.link {
  text-decoration: none;
  color: #ffff;
  border: 1px solid rgba(255, 255, 255, 0.445);
  padding: 5px;
  border-radius: 4px;
}
